dist: xenial
sudo: required

matrix:
  include:
    - os : osx
      osx_image: xcode11.3
    - os: linux
      sudo: required

services:
  - docker

branches:
    only:
        - master
        - devel


notifications:
  email:
    recipients:
      - dilawar.s.rajput@gmail.com
    on_success: change
    on_failure: always

script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then (cd scripts && ./build_wheels_osx.sh); fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then (cd scripts && make) ; fi
