name: Build and test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10.0']

    steps:
    - uses: actions/checkout@v2
    - name: "Setup Python ${{ matrix.python-version }}"
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install
      run: |
        sudo apt -y update
        sudo apt -y install cmake libjpeg-dev libtiff-dev freeglut3-dev libxi-dev libxmu-dev
        sudo apt -y install libvtk7-dev vtk7
        sudo apt -y install xvfb
    - name: configure
      run: |
        cmake --version
        PYTHON=$(which python)
        $PYTHON -c "import sys; print(sys.version)"
        $PYTHON -m pip install pytest matplotlib numpy wheel flaky
        mkdir build && cd build
        cmake -DOPTION_PYTHON=ON \
            -DOPTION_EXAMPLES=ON \
            -DPython3_EXECUTABLE=$PYTHON ..
    - name: build smoldyn
      run: |
          cd build && make -j2 && make wheel && sudo make install
          ## If installation is successful, following should just work.
          ## NOTE: Following does not work on github actions because python is in a
          ## virtual environment.
          # python -c "import smoldyn; print(smoldyn.__file__); print(smoldyn.__version__)"
    - name: test smoldyn
      run: |
        # From https://github.com/processing/processing/wiki/Running-without-a-Display
        sudo Xvfb :1 -screen 0 1024x768x24 </dev/null &
        export DISPLAY=":1"
        cd build && ctest --output-on-failure -j2
        python -m pip install smoldyn*.whl
        python -c "import smoldyn; print(smoldyn.__file__); print(smoldyn.__version__)"

    # BioSimulators
    - name: Build BioSimulators Docker image
      if: matrix.python-version == '3.9'
      run: |
        cp build/smoldyn*.whl scripts/
        cd scripts

        docker build \
          --file Dockerfile-BioSimulators \
          --tag ghcr.io/ssandrews/smoldyn/biosimulators_smoldyn:latest \
          .
    - name: Lint BioSimulators
      if: matrix.python-version == '3.9'
      run: |
        python -m pip install flake8
        flake8 source/python/smoldyn/biosimulators/ --ignore E501,W503
    - name: Install BioSimulators
      if: matrix.python-version == '3.9'
      run: |
        cd build
        WHEEL_PATH=$(ls smoldyn*.whl)
        python -m pip install --force-reinstall "${WHEEL_PATH}[biosimulators,biosimulators-tests]"
    - name: Test BioSimulators
      if: matrix.python-version == '3.9'
      run: |
        python -m pip install pytest flaky

        sudo Xvfb :1 -screen 0 1024x768x24 </dev/null &
        export DISPLAY=":1"
        python -m pytest tests/test_biosimulators.py --verbose
